h1, h2, h3, p, ul, li {
    margin:0;
    padding:0;
}

/********** End Bill's Reset ***********/

body {
    font-family: "Urbanist", sans-serif;
    font-weight: 300;
    color: #333;
    background: hsla(238, 100%, 71%, 1);
    background: linear-gradient(37deg, hsla(238, 100%, 71%, 1) 18%, hsla(162, 62%, 70%, 1) 88%);
    background: -moz-linear-gradient(37deg, hsla(238, 100%, 71%, 1) 18%, hsla(162, 62%, 70%, 1) 88%);
    background: -webkit-linear-gradient(37deg, hsla(238, 100%, 71%, 1) 18%, hsla(162, 62%, 70%, 1) 88%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#696eff", endColorstr="#85e2c6", GradientType=1 );
    margin: 3%;
}

h1, h2, h3 {
    font-family: "Urbanist", sans-serif;
    font-weight: 400;
    margin-bottom: .5em;
}

h1 {
    position: absolute;
    left: -10000px;
}

h2 {
    font-size: 2em;
    color:rgb(95, 94, 94);
}

p {
    margin-bottom: 1em;
    line-height: 1.4em;
}

header {
    text-align: center;
}

header img {
    max-width: 75%;
}

main {
    padding: 20px;
}

article {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    margin-bottom: 20px;
    font-size: 20px;
}

article:hover {
   box-shadow: 55px 55px 70px 5px rgba(44, 186, 170, 0.5);
}

strong {
    font-weight: 500;
}

@media only screen and (min-width: 1125px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    article {
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 1300px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }
}

#form-section{
   padding: 20px 60px 20px 10px;
   text-align: center;
   display: flex;
   color: rgb(94, 92, 92);
}

nav {
   padding: 10px 2px 0px 30px;
}

.card-title {
   color: rgb(117, 113, 113);
}
.card-title:hover {
   color: rgb(54, 160, 160);
}

.descriptionTxt {
   max-height: 90px;
   overflow: hidden;
 }

.descriptionTxt.expanded {
   max-height: none; 
}

.moreInfo {
   color: rgb(117, 113, 113);
   font-family: "Urbanist", sans-serif;
   text-decoration: none;
}
 
